beautifulsoup4==4.14.3
bs4==0.0.1
certifi==2025.11.12
charset-normalizer==2.0.12
faust-cchardet==2.1.18
idna==3.11
lxml==6.0.2
requests==2.26.0
soupsieve==2.8
typing_extensions==4.15.0
urllib3==1.26.7
